html, body {
    margin: 0;
    background-color: white;
}

.head-container {
    width: 100vw;
    height: 80px;
    background-color: rgb(0, 153, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

#logo {
    height: 85%;
}

img {
    height: 100%;
}

#login-button {
    font-weight: 600;
}

.item {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway',Arial, Helvetica, sans-serif ;
    padding: 10px;
}

.select {
    font-weight: 600;
}